
    <a id="cancel-button" href="/artists/<%= @artist.id %>">Cancel</a>
<div class="logged-in">
  <h1 class="main-header">Edit <%= @artist.name %></h1><br>
  <h2>Name: <%= @artist.name %></h2><br>
  <h2>Notes: <%= @artist.notes %></h2><br>

  <form method="post" action="/artists/<%= @artist.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
   
    <label for="name">Name</label>
    <input class="input" type="text" name="artist[name]" placeholder="edit name"  value="<%= @artist.name %>" required>
   
    <label for="notes">Notes</label>
    <input id="notes" type="text" name="artist[notes]" value="<%= @artist.notes %>" />
  
    <input type="submit" value="Update" />
    </form>
    
    </div>
   
