    <a id="cancel-button" href="/artists">Go back to all artists</a>

<div class="logged-in">
<h1>Currently viewing <%= @artist.name %></h1><br>
 

<% @artist.artworks.each do |artwork| %>
  <p>Title: <a href="/artworks/<%= artwork.id %>">
  <%= artwork.title %> </a></p><br>
  <% end %>

 
   
  <form method="get" action="/artworks/new">
  <input id="hidden" type="hidden" name="artist_id" value="<%=@artist.id %>">
  <input type="submit" value="Add an artwork">
</form>


<form method="post" action="/artists/<%= @artist.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>



<form method="get" action="/artists/<%= @artist.id %>/edit">

 <input type="submit" value="edit">
</form>

</div>
