<h1>Title: <%= @artwork.title%></h1><br>
<%= @artwork.medium%> <br>
<%= @artwork.location%> <br>
<%= @artwork.notes%>


<form method="get" action="/artworks/<%= @artwork.id %>/edit">
 <input type="submit" value="edit">
</form>


<form method="post" action="/artworks/<%= @artwork.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>



